.menu {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
}
@media only screen and (max-width: 1200px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }
    .menu-toggle {
        display: none;
    }
}
@media only screen and (min-width: 1201px) {
    .menu {
        flex-direction: row;
        align-items: center;
    }
}
.menu.menu--dark a {
    color: white;
}
.menu-item {
    padding-right: 10px;
}
@media only screen and (max-width: 1200px) {
    .menu-item {
        display: none;
        padding: 15px 0;
        width: 100%;
    }
}
@media only screen and (min-width: 1201px) {
    .menu-item {
        display: inline-block;
    }
}
.menu a {
    text-decoration: none;

}
.menu a:hover {
    text-decoration: underline;
}
